p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
