<div class="authorization-backdrop hidden" data-auth-modal>
    <div class="authorization-modal">
        <button type="button" class="close-btn" data-auth-modal-close>X</button>
        <form class="authorization-form">
      <input type="text" name="user-name" placeholder="Login or email" class="authorization-form__input">
    <input type="text" name="password" placeholder="Password" class="authorization-form__input">
    <button type="submit" class="authorization-submitbtn">LOGIN</button>
    </form>
    </div>
</div>


