<div class="authorization-backdrop " data-modal>
    <div class="authorization-modal">
        <button type="button" data-modal-close class="close-btn">X</button>
        <form class="authorization-form">
      <input type="text" name="user-name" placeholder="Login or email" class="authorization-input">
    <input type="text" name="password" placeholder="Password" class="authorization-input">
    <button type="submit" class="authorization-submitbtn">LOGIN</button>
    </form>
    </div>
</div>


