<footer class="footer-container">
  <div class="container">
    <div class="footer-content">
      <div class="footer-rights-information">
        <p class="footer-year"><span class="footer-copyright">&#169</span> 2022</p>
        <div class="footer-rights-information">
          <p class="footer-rights-text">All Rights Reserved</p>
        </div>
      </div>
      
      <div class="footer-about-information">
        <p>Developed with</p>
          <svg class="footer-icon" width="14" height="12">
            <use href="/src/images/svg-sprite.svg#icon-heart"></use>
          </svg>
        <p>by</p>
        <a class="link-footer link js-link-footer" href="#">GoIT Students</a>
      </div>
    </div>
  </div>
</footer>