<footer class="footer container">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__information-right">
        <p class="footer__text"><span class="footer__symbol">&#169</span> 2022</p>
        <div class="footer__information-inner">
          <p class="footer__text-right">All Rights Reserved</p>
        </div>
      </div>
      
      <div class="footer__information-about">
        <p>Developed with</p>
          <svg class="footer__icon" width="14" height="12">
            <use href="/src/images/svg-sprite.svg#icon-heart"></use>
          </svg>
        <p>by</p>
        <a class="footer__link" href="#">GoIT Students</a>
      </div>
    </div>
  </div>
</footer>