<header class="header container">
  <div class="header__container">
    <nav class="nav">
      <a class="logo__link" href="/src/index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="/src/images/svg-sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>

      <ul class="nav__list">
        <li class="nav__list-item">
          <button type="button" class="modal-open-btn" data-auth-modal-open>
            <svg class="modal-open-btn__icon">
              <use
                href="/src/images/svg-sprite.svg#icon-icons8-log-in-24"
              ></use>
            </svg>
          </button>
        </li>
        <li class="nav__list-item">
          <a id="home" class="nav__link current" href="/src/index.html">home</a>
        </li>
        <li class="nav-list-item">
          <a id="library" class="nav__link" href="/src/library.html"
            >my library</a
          >
        </li>
      </ul>
    </nav>
    <div class="search">
      <form class="search__form">
        <input
          class="search__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
        />
        <button type="submit" class="search__btn">
          <svg class="icon__search" width="12" height="12">
            <use href="/src/images/svg-sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <p class="warning__message visually-hidden/">
      Search result not successful. Enter the correct movie name and try again.
    </p>
    <ul class="library__btn-list visually-hidden">
      <li class="library__btn-item">
        <button
          class="library__btn active__btn"
          type="button"
          data-library="watched"
        >
          Watched
        </button>
      </li>
      <li class="library__btn-item">
        <button class="library__btn" type="button" data-library="queue">
          Queue
        </button>
      </li>
    </ul>
  </div>
</header>
