<header class="header library__header container">
  <div class="header__container">
    <nav class="nav">
      <a class="logo__link" href="/src/index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="/src/images/svg-sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>

      <ul class="nav__list">
        <li class="nav__list-item">
          <button type="button" class="modal-open-btn" data-auth-modal-open>
            <svg class="modal-open-btn__icon" width="24" height="24">
              <use
                href="/src/images/svg-sprite.svg#icon-icons8-log-in-24"
              ></use>
            </svg>
          </button>
          <div id="user-name-contain"></div>
        </li>
        <li class="nav__list-item">
          <a id="home" class="nav__link" href="/src/index.html">home</a>
        </li>
        <li class="nav-list-item">
          <a id="library" class="nav__link current" href="/src/library.html"
            >my library</a
          >
        </li>
      </ul>
    </nav>
    <ul class="library__btn-list">
      <li class="library__btn-item">
        <button
          class="library__btn active__btn"
          type="button"
          data-library="watched"
        >
          Watched
        </button>
      </li>
      <li class="library__btn-item">
        <button class="library__btn" type="button" data-library="queue">
          Queue
        </button>
      </li>
    </ul>
  </div>
</header>
