<main>
  <div class="continer_card">
    <ul class="card__colection list">
    </ul>
  </div>
  <div class="alert__container visually-hidden">
    <picture>
    <source srcset="./images/desktop/desk_cat.png" media="(min-width:1280px)">
    <source srcset="./images/tablet/tab_cat.png" media="(min-width:768px)">
    <source srcset="./images/mobile/mob_cat.png">
    <img  class="alert__img" src="./images/desktop/desk_cat.png" width="100%" alt="Kitty">
  </picture>
  <p class="warning__message">
    Search result not successful. Enter the correct movie name and try again.
  </p>
</div>
  <div id="pagination-container" class="tui-pagination"></div>
</main>
