<div class="modal_overlay">
    <div class="modal">
        <button type="button" class="btn-close" id="btn-close">
            <svg class="form__close-icon" width="30px" height="30px">
                <use href="/src/images/svg-sprite.svg#icon-close"></use>
            </svg>
        </button> 
        <div id="modal_form">

        </div>
    </div>
</div>
 
 <!-- <div class="backdrop is-hidden" data-modal>
    <div class="modal" >
        <button class="close__button" type="button" data-modal-close>
             <svg class="social-list__icon" width="11px" height="11px">
                <use href="#"></use>
            </svg>
        </button>
        <form class="form">
            <div class="form__film-card">
                <img loading="lazy" width=375 height=478/>
                <div class="form__info">
                    <h3 class="form__title">Name of film</h3>
                    <p class="form__info-item"><span>Popularity</span></p>
                    <p class="form__info-item"><span>Original Title</span></p>
                    <p class="form__info-item"><span>Genre</span></p>
                    <p class="form__info-item"><span>Vote / Votes</span></p>
                    <ul class="form__info-list">
                        <li class="form__info-item"><span>Popularity</span></li>
                        <li class="form__info-item"><span>Original Title</span></li>
                        <li class="form__info-item"><span>Genre</span></li>
                        <li class="form__info-item"><span>Vote / Votes</span></li>
                    </ul> 
                    <p class="form__info-about"><span>About</span></p>
                    <div class="form__btn-list">
                        <button class="form-button" type="submit">Add to watched</button>
                        <button class="form-button" type="submit">Add to queue</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->
<!-- 
 <div class="backdrop is-hidden" data-modal>
    <div class="modal" >
        <button class="close__button" type="button" data-modal-close>
             <svg class="social-list__icon" width="11px" height="11px">
                <use href="#"></use>
            </svg>
        </button>
        <form class="form">
            
        </form>
    </div>
</div> -->


<!-- <div class="modal">
    <button type="button" class="btn-close">
        <svg class="social-list__icon" width="11px" height="11px">
            <use href="#"></use>
        </svg>
    </button>
    <form class="form">
        <div class="form__film-card">
            <div class="form__film-img">
                <img src="https://image.tmdb.org/t/p/w300${poster_path}" alt="${title}" width=375px height=478px>
            </div>
        </div>
        <div class="form__info">
            <h2 class="form__title">${title}</h2>
            <ul>
                <li class="form__info-item">
                    <p class="form__info-name">Vote / Votes</p>
                    <p class="form__info-details">${vote_average} / ${vote_count}</p>
                </li>
                <li class="form__info-item">
                    <p class="form__info-name">Popularity</p>
                    <p class="form__info-details">${popularity}</p>
                </li>
                <li class="form__info-item">
                    <p class="form__info-name">Original Title</p>
                    <p class="form__info-details">${original_title}</p>
                </li>
                <li class="form__info-item">
                    <p class="form__info-name">Genre</p>
                    <p class="form__info-details">${getCurrentGenres (genres)}</p>
                </li>
            </ul>
            <h3 class="form__about-name">About</h3>
            <p class="form__about-name">${overview}</p>
            <div class="form__btn-list">
                <button class="form-button" type="submit">Add to watched</button>
                <button class="form-button" type="submit">Add to queue</button>
            </div>
        </div>
    </form>
</div>   -->

