<section class="library">
  <div class="container">
    <ul class="library__list" id="library">
      Я сбегаю с лесенок здания университета и разворачиваюсь к нему лицом.
      <!-- Улыбаюсь широко и открыто. Я. Буду. Учиться. На. Юридическом! С чувством
      удовлетворения я разглядываю многочисленные окна массивного здания, его
      колонны и лепнину. Мои короткие волосы треплет тёплый летний ветерок. Но
      уже совсем скоро сентябрь. Совсем скоро я сделаю первый шаг длиною в пять
      непростых лет на пути к своей мечте! Меня даже не страшат толстенные
      талмуды законодательств, которые мне придётся зубрить! Наоборот! Я хочу
      скорее приступить к учёбе! А вот что меня страшит, так это то, как
      воспримут новость о смене направления высшего образования мои родители. О
      чём я им малодушно не сообщала, пока не убедилась, что меня приняли на
      юрфак. Я вздыхаю и опускаю глаза на телефон в своих руках, где открыто
      сообщение от мамы: «Сегодня у нас вечер немого кино! Не опаздывай,
      пожалуйста». Снова вздыхаю и открываю приложение, чтобы вызвать такси,
      заодно разворачиваясь к дороге, где шумят снующие в обе стороны машины.
      Успеваю заменить впереди чьи-то ноги, а вот остановиться – нет. Со всего
      размаха врезаюсь в плечо высокого парня, телефон летит на плитку, а
      верзила грубо советует: – Глаза разуй, рыжая. – Я их не обувала, –
      бездумно ворчу я в ответ, присаживаясь, чтобы поднять свой пострадавший
      телефон. – Чего? – усмехнувшись, не торопится он продолжить свой путь.
      Поднимаю на него взгляд и на секунду теряюсь от миловидности парня.
      Правда, его симпатичному лицу совсем не подходит это хмурое выражение,
      словно он только что, ну, не знаю, наступил на кучку кое-чего
      малоприятного. Впрочем, в следующее мгновение происходит метаморфоза: его
      глаза на секунду широко открываются, словно он удивлён меня видеть, а
      затем они подозрительно сужаются. Очень интересно. – Мы знакомы? –
      спрашиваю я, наконец распрямляясь в полный рост.Я сбегаю с лесенок здания
      университета и разворачиваюсь к нему лицом. Улыбаюсь широко и открыто. Я.
      Буду. Учиться. На. Юридическом! С чувством удовлетворения я разглядываю
      многочисленные окна массивного здания, его колонны и лепнину. Мои короткие
      волосы треплет тёплый летний ветерок. Но уже совсем скоро сентябрь. Совсем
      скоро я сделаю первый шаг длиною в пять непростых лет на пути к своей
      мечте! Меня даже не страшат толстенные талмуды законодательств, которые
      мне придётся зубрить! Наоборот! Я хочу скорее приступить к учёбе! А вот
      что меня страшит, так это то, как воспримут новость о смене направления
      высшего образования мои родители. О чём я им малодушно не сообщала, пока
      не убедилась, что меня приняли на юрфак. Я вздыхаю и опускаю глаза на
      телефон в своих руках, где открыто сообщение от мамы: «Сегодня у нас вечер
      немого кино! Не опаздывай, пожалуйста». Снова вздыхаю и открываю
      приложение, чтобы вызвать такси, заодно разворачиваясь к дороге, где шумят
      снующие в обе стороны машины. Успеваю заменить впереди чьи-то ноги, а вот
      остановиться – нет. Со всего размаха врезаюсь в плечо высокого парня,
      телефон летит на плитку, а верзила грубо советует: – Глаза разуй, рыжая. –
      Я их не обувала, – бездумно ворчу я в ответ, присаживаясь, чтобы поднять
      свой пострадавший телефон. – Чего? – усмехнувшись, не торопится он
      продолжить свой путь. Поднимаю на него взгляд и на секунду теряюсь от
      миловидности парня. Правда, его симпатичному лицу совсем не подходит это
      хмурое выражение, словно он только что, ну, не знаю, наступил на кучку
      кое-чего малоприятного. Впрочем, в следующее мгновение происходит
      метаморфоза: его глаза на секунду широко открываются, словно он удивлён
      меня видеть, а затем они подозрительно сужаются. Очень интересно. – Мы
      знакомы? – спрашиваю я, наконец распрямляясь в полный рост.Я сбегаю с
      лесенок здания университета и разворачиваюсь к нему лицом. Улыбаюсь широко
      и открыто. Я. Буду. Учиться. На. Юридическом! С чувством удовлетворения я
      разглядываю многочисленные окна массивного здания, его колонны и лепнину.
      Мои короткие волосы треплет тёплый летний ветерок. Но уже совсем скоро
      сентябрь. Совсем скоро я сделаю первый шаг длиною в пять непростых лет на
      пути к своей мечте! Меня даже не страшат толстенные талмуды
      законодательств, которые мне придётся зубрить! Наоборот! Я хочу скорее
      приступить к учёбе! А вот что меня страшит, так это то, как воспримут
      новость о смене направления высшего образования мои родители. О чём я им
      малодушно не сообщала, пока не убедилась, что меня приняли на юрфак. Я
      вздыхаю и опускаю глаза на телефон в своих руках, где открыто сообщение от
      мамы: «Сегодня у нас вечер немого кино! Не опаздывай, пожалуйста». Снова
      вздыхаю и открываю приложение, чтобы вызвать такси, заодно разворачиваясь
      к дороге, где шумят снующие в обе стороны машины. Успеваю заменить впереди
      чьи-то ноги, а вот остановиться – нет. Со всего размаха врезаюсь в плечо
      высокого парня, телефон летит на плитку, а верзила грубо советует: – Глаза
      разуй, рыжая. – Я их не обувала, – бездумно ворчу я в ответ, присаживаясь,
      чтобы поднять свой пострадавший телефон. – Чего? – усмехнувшись, не
      торопится он продолжить свой путь. Поднимаю на него взгляд и на секунду
      теряюсь от миловидности парня. Правда, его симпатичному лицу совсем не
      подходит это хмурое выражение, словно он только что, ну, не знаю, наступил
      на кучку кое-чего малоприятного. Впрочем, в следующее мгновение происходит
      метаморфоза: его глаза на секунду широко открываются, словно он удивлён
      меня видеть, а затем они подозрительно сужаются. Очень интересно. – Мы
      знакомы? – спрашиваю я, наконец распрямляясь в полный рост. -->
    </ul>
  </div>
</section>
