.continer_card{
  max-width: max-content;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 40px;

   @media screen and (min-width: 768px) {
    max-width: 704px;
    padding: 0 32px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1215px;
  }
}

.card__colection {  

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}
.card__film {
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.card__film:hover,
.card__film:focus {
  transform: scale(1.03);
}

.card__film--no-active {
  cursor: default;
}

.card__film--no-active:hover,
.card__film--no-active:focus {
  transform: none;
}

.card__film--no-active .card__text {
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 1280px) {
      font-size: 18px;      
  }
}

.card__film img {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 276px;
  height: 402px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
   @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.card__film--no-active img {
  height: auto;
}
.card__title,
.card__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  
   @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.card__title {
  text-transform: uppercase;
  color: #000000;
}

.card__text {
  display: flex;
  color: #ff6b08;  
}

.genres{
  margin-right: 4px;
}

.release{
  margin-left: 4px;
  margin-right: 9px;
}

.card__vote_average {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.17;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
}
