.footer-container {
  // position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: #f7f7f7;
  padding-top: 29px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 28px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.footer-icon {
  position: relative;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  fill: #ff6b08;
  animation: pulse 1500ms linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  10% {
    transform: scale(0.95);
  }
}

.footer-rights-information {
  position: relative;
  display: flex;
  margin-bottom: 5px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.footer-about-information {
  display: flex;
  text-align: center;

  @media screen and (min-width: 320px) {
    text-align: left;
  }

  @media screen and (min-width: 768px) {
    margin-left: 6px;
  }
}

.link-footer {
  position: relative;
  color: #545454;
  margin-left: 5px;
}

.footer-copyright {
  margin-right: 4px;
}

.footer-year {
  margin-right: 6px;
}

.footer-rights-text {
  margin-left: 6px;
  margin-right: 6px;
}

.footer-rights-text::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;

  height: 100%;
  width: 1px;

  background-color: #545454;
}

.footer-rights-text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 1px;

  background-color: #545454;
}

.link-footer::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;

  height: 1px;
  width: 100%;

  background-color: #545454;
}