.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;

    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 40px;
    width: 450px;
    height: 609px;

    transform: translate(-50%, -50%) scale(0.5);

    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 1200px) {
        width: 1200px;
        height: 800px;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    // width: 30px;
    // height: 30px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: orangered;
    }

    cursor: pointer;
}

.container-students__list {
    margin-top: -30px;
    margin-right: -30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 320px) {
        margin-right: -30px;
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-top: -30px;
        margin-right: -30px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1280px) {
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
    }
}

.student {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    margin-right: 30px;
    box-sizing: border-box;
    width: 70px;
    height: 92px;
    flex-basis: calc((100% - 30px * 2) / 2);

    @media screen and (max-width: 480px) {
        flex-basis: calc((100% - 30px * 2) / 2);
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px * 3) / 3);
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-right: 0;

        &:not(:last-child) {
            margin-right: 30px;
        }

        flex-basis: calc((100% - 30px * 4) / 4);
    }


}