.goit-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;

    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goit-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;

    transform: translate(-50%, -50%) scale(0.5);

    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);


    @media screen and (max-width: 319px) {
        width: 280px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 640px;
    }

    @media screen  and (min-width: 768px) and (max-width: 1279px) {
        width: 704px;
    }


    @media screen and (min-width: 1280px) {
        width: 1216px;
    }
}

.goit-backdrop.is-goit-hidden {
    opacity: 0;
    pointer-events: none;
}

.goit-backdrop.is-goit-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}



.container-students {
    // border: solid 1px green;
    padding: 16px 0;
    margin: auto;
    text-align: center;
    // width: 240px;

    @media screen and (min-width: 768px) {
        max-width: 704px;
        padding: 0 32px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1216px;
    }
}

.container-students__list {

    @media screen and (min-width: 320px) {
            margin-top: -32px;
            margin-right: -32px;
            display: flex;
            flex-wrap: wrap;
        }
    
        // @media screen and (min-width: 1280px) {
        //     display: flex;
        // }
   
    // border: solid 1px blue;
}

.student {
    
    width: 162px;
    height: 213px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 319px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 1279px) {
        &:not(:nth-child(3n+3)) {
                margin-right: 32px;
            }
            &:nth-child(-n+3) {
                margin-top: 32px;
                }
            &:not(:nth-last-child(-n+3)) {
                
                margin-bottom: 32px;
            }
    
        flex-basis: calc((100% - 32px * 3) / 3);
    }

    @media screen and (min-width: 1280px) {
        &:not(:nth-child(6n+6)) {
                margin-right: 30px;
            }
        &:nth-child(-n+6) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        flex-basis: calc((100% - 32px * 6) / 6);
    }

    &__image {
        // display: block;
        // max-width: 100%;
        // width: 100%;
        height: auto;
        width: 162px;

    }

    &__description {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__name,
    &__role {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__name {
        color: #000000;
    }

    &__role {
        color: #FF6B08;
    }
}
.container-students__title {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 1.2;
    color: #FF6B08;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.button-goit-close {
    position: absolute;
    top: 8px;
    right: 8px;
    // width: 30px;
    // height: 30px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FF6B08;
    background: #000000;
    border: 2px solid #FF6B08;
    border-radius: 50%;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #000000;
        background: #FF6B08;
    }

    // cursor: pointer;
}