.library-btn-list {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.library-btn-item:first-child {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}

.library-btn {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase;
}

.active-btn {
  background-color: #FF6B01;
  border-color: #FF6B01;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
}