.authorization-backdrop {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 43, 40, 0.805);
    opacity: 1;

    transition: opacity 500ms, visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overflow-hidden {
    overflow-y: hidden;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.authorization-modal,
.register-modal {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    width: 280px;
    height: auto;
    padding: 40px 20px;
    transform: translate(-50%, -50%) scale(1);
    background-color:rgba(0, 0, 0, 0.9);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px){
        width: 480px;
        padding: 60px 30px;
    }

}

.authorization-backdrop.hidden {
        transform: translate(-50%, -50%) scale(0.8);
    }

    
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
border: none;
    background: none;
    border-radius: 50%;

    &:hover,
    &:focus {
        .close-btn__icon {
            fill: #FF001B;
        }
    }
}
.close-btn__icon {
    fill:#FF6B08;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.authorization-modal__tittle {
color: #FF6B08;
font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;

    @media screen and (min-width: 768px){
font-size: 24px;
    }
}

.authorization-modal__text {
    color: #fff;;
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        
    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

}

.authorization-form__input {
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
    border-color:dimgrey;
    outline: none;
    padding-left: 10px;

    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-bottom: 1px solid #FF001B;
    }
        @media screen and (min-width: 768px) {
height: 40px;
        }
}

.authorization-submitbtn {
    display: inline-block;
    padding: 7px;
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    background-color: #FF6B01;
    border-color: #FF6B01;
    box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
    // background-color:#FF6B08;
    border:none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color:#FF001B;
        box-shadow: 0px 4px 4px 0px rgba(100, 100, 100, 0.25);
    }

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
}

.register-form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 70px;
}

.register-btn,
.login-btn {
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.33;
    background: none;
    border: none;
    color: #FF6B08;
    padding: 0;
    text-decoration: underline 1px solid #FF6B08;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #FF001B;
        text-decoration: underline 0.5px solid #FF001B;
    }

        @media screen and (min-width: 768px) {
        font-size: 20px;
        }
}

.modal-open-btn {
    background: none;
    border: none;

}
.modal-open-btn__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #ff6b01
    }
}
.sign__out-btn {
    // position: relative;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        height: 14px;
        text-decoration: none;
        font-size: 12px;
        line-height: 1.16px;
        font-weight: 500;
        // display: flex;
        // align-items: center;
        // text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: #ff6b01;
        }
}
// .modal-open-btn__icon {
//     width: 24px;
//     height: 24px;
//     fill:#FF001B;
// }
