
.modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    // opacity: 0;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition-property: opacity visibility;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    &.active{
        visibility: visible;
        z-index: 10;
        opacity: 1;
    }
    .modal{
        background-color: #fff;
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 280px;
        height: auto;
        font-weight: 500;
        padding: 0;

        @media screen and (min-width: 768px) {
            width: 704px;
            height: 552px; 
        }

        @media screen and (min-width: 1280px) {
            // width: 50vw;
        // max-width: 90%;
        // height: 50vh;
        // max-height: 90%;
        width: 806px;
        height: 558px;
        }
    }
}

.form__film-card {
   
    @media screen and (min-width: 768px) {
        width: 704px;
        height: 552px; 
    }
    @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    }
}

.form {
    padding: 48px 20px 40px 20px;
    @media screen and (max-width: 767px) {
        display: flex;
    flex-direction: column;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        padding: 40px 72px 40px 36px;
        width: 704px;
        height: 552px; 
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        padding: 40px 12px;
        width: 806px;
        height: 558px;
    }
}
.form__title {
    color: #000000;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }

    @media screen and (min-width: 1280px) {
         font-size: 30px;
         line-height: 35px;
     }
}
.form__info {
    max-height: 850px;
    @media screen and (min-width: 768px) {
        margin-left: 68px;
        max-height: 470px;
    
  }
    @media screen and (min-width: 1280px) {
        margin-left: 18px;
        max-height: 478px;
        }
   
}
// INFO
.form__info-list {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
}
.form__info-item {
    display: flex;
}
.form__info-item:not(:last-child) {
  margin-bottom: 8px;  
}

.form__info-name {
    width: 110px;
    color: #8C8C8C;
    @media screen and (min-width: 768px) {
        width: 140px;
    }
}
.form__info-details {
display: flex;
align-items: center;
color: #000000;
}
.details-title {
    text-transform: uppercase;
}
.film__rating {
    color: #fff;
    background-color: #ff6b01;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
// ABOUT
.form__about-details {
    width: 240px;
    max-height: 200px;
    overflow: auto;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    
    
@media screen and (min-width: 768px) {
    width: 264px;
}
@media screen and (min-width: 1280px) {
    width: 391px;
}
}
.form__about-name {
    margin-bottom: 8px;
    line-height: 16px;
align-items: center;
text-transform: uppercase;
}

.form__about{
    margin-top: 20px;
    margin-bottom: 20px;
}

// BUTTON
.form__btn-list {
    display: flex;
}
.form-button {
    text-align: center;
    width: 110px;
    height: 44px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: color .25s cubic-bezier(.4,0,.2,1),background-color .25s cubic-bezier(.4,0,.2,1),box-shadow .25s cubic-bezier(.4,0,.2,1);
    @media screen and (min-width: 768px) {
        width: 125px;
    }
    @media screen and (min-width: 1280px) {
        width: 136px;
    }
}
.form-button:not(:last-child){
margin-right: 15px;
}

.form-add-btn {
    color: #fff;
    box-shadow: none;
    cursor: auto;
    background-color: #ff6b08;
    border: 1px solid #ff6b08;
}

// .form-button:hover,
// .form-button:focus{
//     color: #fff;
//     box-shadow: none;
//     cursor: auto;
//     background-color: #ff6b08;
//     border: 1px solid #ff6b08;
// }
.form-queue-btn:hover,
.form-queue-btn:focus,
.form-add-btn:hover,
.form-add-btn:focus {
    color: #ff6b08;
    box-shadow: none;
    cursor: auto;
    background-color: #fff;
    border: 1px solid #ff6b08;
}



// BUTTON-CLOSE
.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 0px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    cursor: pointer;}
.form__close-icon {
    transform: rotate(-90deg);
}
.btn-close:hover,
.btn-close:focus {
    border: 2px solid #ff6b08;
}

// IMG
 .form-img {
    width: 240px;
    height: 357px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @media screen and (min-width: 768px) {
        width: 264px;
        height: 374px;
    
  }
  @media screen and (min-width: 1280px) {
    height: 478px;
    width: 100%; 
  }  
 }  
 body.modal.active {
    height: 100vh;
    overflow-y: hidden;
  }



// .modal {
//     width: 806px;
//     height: 558px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scale(1);
//     transition-property: transform;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     background: #FFFFFF;
//     box-shadow: 0px 1px 3pxrgba(0,0,0,0.12),0px 1px 1pxrgba(0,0,0,0.14),0px 2px 1px rgba(0,0,0,0.2);
//     border-radius: 4px;
//     z-index: 10;
// }
