#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 35px;
  left: calc(50% + 115px);
  z-index: 1;
  border: none;
  outline: none;
  background-color: #000000;
  color: #ff6b01;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    left: calc(50% + 295px);
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: 1280px) {
    left: calc(50% + 545px);
    width: 60px;
    height: 60px;
  }
}

#scroll-to-top:hover {
  background-color: #681f27;
  color: #ffffff;
}

#scroll-to-top span {
  line-height: normal;
  font-size: 30px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 50px;
  }
}
